

body{
  font-family: "Montserrat", sans-serif;
}



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

.wave-header{
  height: 100%;
  width: 100%;
  background-image: linear-gradient(115deg,#765dee,#ef8970);
  position: relative;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 200px;
}

.svg-wave{
  position: absolute;
  bottom: 0;
  left:  0;
}

.navbar-brand{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.navbar-brand img{
  width: 100%;
  height: 100%;
}

.main-section{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-section h1{
  font-size: 4em;
  color: #fff;
  font-weight: 700;
}

.main-section p{
  font-size: 1.2em;
  color: #fff;
  font-weight: 300;
  margin: 10px 250px 30px 300px;
}

.main-section button{
  font-size: 1em;
  color: #fff;
  padding: 8px 20px;
  background: linear-gradient(to right, #fc65c3 , #c877b0);
  border-radius: 20px;
  border: 1px solid white;
  margin-bottom: 70px;
}

.main-section button img{
  width: 20px;
  height: 20px;
  margin-left: 2px;
  margin-bottom: 3px;
}

.image-container {
  display: flex; 
  margin-top: -70px;
}


.image {
  width: 40%;
  padding: 5px;
  margin-top: 100px;
}

.image-2{
  width: 40%;
  margin-top: 240px;
  margin-left: -60px;
}

.boldText{
  font-weight: 500;
}

.boldHeading{
  font-weight: 700;
  font-size: 2.1em;
}

.horizontal{
  margin-left: 60px;
}
.horizontal-image{
  margin-top: -25px;
}

.vertical{
  margin-left: 475px;
  margin-top: -80px;
}

.aboutButton{
  background-image: linear-gradient(115deg,#765dee,#ef8970);
  color: white;
  padding: 8px 28px;
  border-radius: 25px;
  border: none;
  margin-top: 10px;
}

.aboutButton img{
  width: 20px;
  height: 20px;
  margin-left: 2px;
  margin-bottom: 3px;
}

.featureSection{
  margin-bottom: -30px;
}

.featureHeading{
  font-weight: bold;
  font-size: 40px;
}

.feature{
  background-color: #f3f2ff;
  overflow: hidden;
}

.feature .col-md-12{
  margin-left: 50px;
}

.features{
  background-color: white;
  border-radius: 10px;
  height: 100%;
}


.skill{
  margin-top: 100px;
}

.skill h3{
  font-weight: bold;
  font-size: 2.3em;
  margin-left: 150px;
  margin-right: 150px;
}

.skill-para p{
  margin-right: 200px;
  margin-left: 200px;
}

.container-card{
  background-color: #f3f2ff;
  width: 100%;
  height: 100%;
  margin-top: -30px;
}
.feature-card{
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 20px;
}
.feature-card h4{
  font-weight: bold;
  font-size: 20px;
  padding-left: 15px;
}

.feature-images{
  background-color: #785eeb;
  border-radius: 08px;
  height: 70px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact{
  height: 100%;
  background-image: linear-gradient(115deg,#765dee,#ef8970);
}

.contactSection{
  margin-bottom: -150px;
}

.contact-details{
  padding-top: 100px;
  background-image: url(./assets//waves.png);
  background-position-y: 280px;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

.contact-images{
  background-color: #785eeb;
  border-radius: 08px;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.contact-card{
  margin-top: 50px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contact-card h5{
font-weight: bold;
}

.contact-details .col-md-6 button{
  font-size: 1em;
  color: #fff;
  padding: 8px 20px;
  background: linear-gradient(to right, #fc65c3 , #9e67dc);
  border-radius: 20px;
  border: 1px solid white;
  margin-bottom: 70px;
}

.contact-details .col-md-6 button img{
  
width: 20px;
height: 20px;
margin-left: 2px;
margin-bottom: 3px;
}

.contact-details h4{
  font-size: 2.1em;
  color: white;
  margin-left: 20px;
  margin-top: 40px;
  margin-right: 60px;
}

.contact-details .para{
  font-size: 0.9em;
  color: white;
  margin-left: 20px;
  text-align: justify;
  margin-right: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-details button{
  margin-left: 20px;
}

.services{
  margin-top: 120px;
}

.services h5{
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 40px;
}

.services-card h6{
  font-size: 1.9em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 30px;
}


.services-card .img{
  width: 97%;
  
}
.services-card button{
  width: 80%;
  border-radius: 25px;
}

.client{
  width: 100%;
  height: 170px;
  background-image: linear-gradient(90deg,#5b53f9,#ff8e57);
  margin-top: 150px;
  margin-bottom: 150px;
}

.client div{
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.portfolioButton{
  display: flex;
  align-items: end;
  justify-content: end;
  
}

.portfolioButton .aboutButton{
  margin-bottom: 20px;
}

.portfolioSection img{
  margin-top: 40px;
  width: 97%;
  margin-bottom: 30px;
  border-radius: 5px;
}

.portfolioSection h6{
  font-weight: bold;
  font-size: 1.2em;
}
.portolios h6{
  font-weight: bold;
  font-size: 2.2em;
}

.portolios p{
  font-size: 15px;
  text-align: start;
  padding-right: 100px;
}

.testimonial{
  margin-top: 150px;
}


.testimonial-card{
  width: 30%;
  padding: 10px;
  border-radius: 15px;
  
}

.testimonial-card .imageSection{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.testimonial-card >.imageSection> .userImage{
  width: 90px;
  height: 90px;
}
.testimonial-card .imageSection div{
  display: flex;
  flex-direction: row;
}
.testimonial-card .imageSection .star{
  width: 15px;
  height: 15px;
}

.testimonial-card p{
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
}

.testimonial-card h6{
  font-weight: bold;
  font-size: 1em;
}

.testimonial-card  h6 span{
  color: rgb(91,83,249);
  text-decoration: underline;
  font-size: 14px;
  padding-left: 45px;
}

.testimonial .main-heading{
  font-weight: bold;
  font-size: 2.3em;
  margin-bottom: 80px;
}
.blog{
  margin-top: 100px;
}


.blogSection{
  margin-bottom: 200px;
}

.blog-wave{
  height: 490px;
  width: 100%;
  background-image: linear-gradient(115deg,#765dee,#ef8970);
  position: relative;
  
}


.blog .main-heading{
  margin-top: -300px;
  font-weight: bold;
  color: white;
  font-size: 2em;
}

.date{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blog-section{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 39px;
}


.form-container{
  margin-top: 300px;
  background-color: #f3f2ff;
  width: 100%;
  height: 100%;
}

.forms{
  padding-top: 100px;
  padding-bottom: 100px;
}
.form-content{
  background-color: white;
  padding: 25px;
  border-radius: 8px;
}

.form-content h6{
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.forms .main-heading{
  font-weight: bold;
  font-size: 2.2em;
  padding-right: 190px;
  line-height: 1.5;
}

.forms .para{
  margin-top: 19px;
  padding-right: 150px;
}
.form-button{
  width: 100%;
  color: white;
  padding: 8px;
  background-image: linear-gradient(115deg,#765dee,#ef8970);
}

.footer{
  background-color:#1c0c26;
  color: white;
}

.footer-button{
  display: flex;
  align-items: end;
  justify-content: end;
}

.horizontal-line{
  margin-top: 10px;
  border: 2px solid rgb(91,83,249);;
}

.footer-services{
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
}

.footer2{
  display: flex;
  /* flex-direction: row; */
}

.social-media{
  display: flex;
}

.social-media img{
  background: #785eeb;
  width: 15px;
  height: 15px;
  padding: 2px;
  border-radius: 3px;
}

.footer h6{
  font-weight: bold;
}

.footer-list{
  list-style: none;
  margin-top: 10px;
  font-size: 0.9em;
  opacity: 0.5;
}

.footer-lists{
  list-style: none;
  margin-top: 10px;
  font-size: 0.9em;
}

a{
  color : rgb(200, 123, 171);
}


@media screen and (max-width: 600px) {
 
  .main-section{
    height: 400px;
    background: url(./assets/mobile-wave.png);
  }
  .main-section h1{
    margin-top: 150px;
    font-size: 2em;
  }
  .main-section p{
    font-size: 0.9em;
    margin: 20px;
    text-align: center;
  }
  .main-section button{
    margin-top: 15px;
  }
  .boldHeading{
    font-size: 1.5em;
  }

  .horizontal-image{
    height: 250px;
    width: 300px;
    margin-top: -33px;
  }
  .vertical-image{
    height: 220px;
    width: 280px;
    margin-left: -20px;
    
  }
  .horizontal{
    margin-left: 30px;
  }
  .vertical{
      margin-left: 310px;
      margin-top: -110px;
  }
  .skill h3{
    font-size: 1.5em;
    text-align: center;
    margin: 0;
  }
  .skill-para p{
    margin: 0;
    font-size: 0.8em;
  }
  .funnel-image img{
    width: 100%;
    height: 100%;
  }
  .feature{
    margin: 0;
    /* margin-top: 10px; */
  }
  .featureSection{
    margin-bottom: -5px;
    /* margin-top: 10px; */
  }
  .featureHeading{
    margin-top: 60px;
  }
  .feature-gape{
    margin: 10px;
    margin-right: 10px;
  }
  .contactSection{
    margin-bottom: 0px;
  }
 .contact-details{
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
 }
  .contact-details h4{
    margin: 0;
    font-size: 1.4em;
  }

  .contact-details .para{
    margin: 0px;
    margin-right: 40px;
    margin-top: 40px;
  }

  .contact-details button{
    margin: 0px;
    margin-top: 40px;
  }

  .contact-card{
    margin: 0;
    border-radius: 8px;
  }
  .services{
    padding-bottom: 0;
  }
  .services h5{
    font-size: 2em;
  }
  .services-card{
    margin: 10px;
  }

  .services-card button{
    margin: 15px;
  }

  .client{
    margin-top: 20px;
    overflow: hidden;
    margin-bottom: 70px;
  }
  .client img{
    width: 30%;
    height: 50%;
    margin-right: 15px;
    
  }
  .portolios{
    margin-top: 0;
  }
  .portolios h6{
    font-size: 2em;
    margin-bottom:30px;
  }
  .portfolioButton .aboutButton{
    width: 100%;
  }

  .portfolioSection .cards{
    width: 80%;
  }
  .blog .main-heading{
    margin-top: -180px;
    font-size: 1.8em;
  }
  .card1{
    margin-top: 82px;
  }
  .card2{
    display: none;
  }
  .card3{
    display: none;
  }
  .forms .main-heading{
    padding: 0;
    font-size: 1.4em;
  }
  .forms .para{
    padding-right: 0;
    margin-bottom: 50px;
  }

  .form-content h6{
    padding-bottom: 20px;
  }
  .footer-button .aboutButton{
    display: none;
    margin-bottom: 10px;
  }
  .footer-services{
    flex-direction: column;
  }

  .footer-services div{
    margin-bottom: 30px;
  }

  .social-media{
    margin-bottom: 0 !important;
  }
  .footer-paragraph{
    font-size: 0.7em;
    opacity: 0.5;
    margin-top: 50px;
  }
}